@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

.card-shadow {
  box-shadow: -16px 19px 10px rgba(0, 0, 0, 0.01),
    -9px 11px 8px rgba(0, 0, 0, 0.05), -4px 5px 6px rgba(0, 0, 0, 0.09),
    -1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.gradient-icon {
  background: linear-gradient(151.91deg, #00aa13 26.89%, #07e420 82.6%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gradient-green {
  background: linear-gradient(151.91deg, #00aa13 26.89%, #07e420 82.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-gradient-green {
  background: linear-gradient(151.91deg, #00aa13 26.89%, #07e420 82.6%);
  border-radius: 10px 10px 0px 0px;
}

.rounded-tl-tr {
  border-radius: 10px 10px 0 0;
}

.rounded-bl-br {
  border-radius: 0 0 10px 10px;
}

.line-before-after::before,
.line-before-after::after {
  content: '';
  width: 15%;
  height: 2px;
  background: #ffd217;
  position: absolute;
}

.line-before-after::before {
  top: 0;
  right: 32px;
}

.line-before-after::after {
  left: 32px;
  bottom: 0;
}

.line-before-after.active::before {
  width: 90%;
}
.line-before-after.active::after {
  width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #00aa13;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.box-shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  width: 920px;
}

td {
  text-align: center;
}
