@tailwind base;
@tailwind components;
@tailwind utilities;

.card-shadow {
  box-shadow: -16px 19px 10px rgba(0, 0, 0, 0.01),
    -9px 11px 8px rgba(0, 0, 0, 0.05), -4px 5px 6px rgba(0, 0, 0, 0.09),
    -1px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.gradient-icon {
  background: linear-gradient(151.91deg, #00aa13 26.89%, #07e420 82.6%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gradient-green {
  background: linear-gradient(151.91deg, #00aa13 26.89%, #07e420 82.6%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.rounded-tl-tr {
  border-radius: 10px 10px 0 0;
}

.rounded-bl-br {
  border-radius: 0 0 10px 10px;
}

body {
  font-family: 'Poppins', sans-serif;
}
